header {
  background-color: #06233d;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container {
  margin-left: 0px;
  margin-right: 0px;
  max-width: 1650px;
}

.title {
  align-items: center;
  text-align: center;
  color: white;
  font-size: 40px;
  margin-left: 40px;
}

.divLinks {
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.links {
  color: #ee6a4a;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

main {
  padding-top: 70px;
  background-color: #f5f3f0;
}

.divInputs {
  background-color: #ffffff;
  border: 3px solid #7a726883;
  border-radius: 20px;
}

.inputsTitleDiv {
 margin-top: 15px;
 margin-left: 10px;
}

.inputsButtonDiv{
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 518px;
}

.inputsButton{
  border-radius: 5px;
  border: 2px solid #7a726883;
}

#btnCalcular{
  width: 440px;
  background-color: #06233d;
  color: #ffffff;
}

#btnClear{
  background-color: #f5f3f0;
  
}
#btnClear:hover{
  background-color: #ee6a4a;
}

.bg2 {
  background-color: brown;

}
