html,
body {
  background-color: #f3f3f3;
}

header {
  background-color: #06233d;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container {
  margin-left: 0px;
  margin-right: 0px;
  max-width: 1650px;
}

.title {
  align-items: center;
  text-align: center;
  color: white;
  font-size: 40px;
  margin-left: 2rem;
}

.divLinks {
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.links {
  color: #ee6a4a;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

main {
  padding-top: 6rem;
  background-color: #f5f3f0;
}

.divDados {
  background-color: #ffffff;
  border: 2px solid #ddd7cd;
  border-radius: 20px;
}

.inputsTitleDiv {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.inputsSubTitle {
  color: #6d6059;
  font-size: 20px;
}

.padInput {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.inputsLineDiv {
  display: flex;
  justify-content: center;
}

.textNote{
  display: none;
}

@media( max-width: 1366px){
  .textNote{
    display: inline;
    margin-bottom: 2rem;
  }

  .textPc{
    display: none;
  }
}

.inputsLine {
  border-bottom: 1px solid #7a726883;
  margin-top: 0.5rem;
  width: 95%;
}

.inputsButtonDiv {
  margin-top: clamp(1rem, 5vh, 2rem);
  margin-right: clamp(0.5rem, 2vw, 1rem);
  margin-bottom: clamp(1rem, 5vh, 2rem);
  margin-left: clamp(0.5rem, 2vw, 1rem);
  display: flex;
  gap: 2rem;
}

.btnCalcularActive {
  width: clamp(5rem, 80%, 35rem);
  height: 3rem;
  background-color: #06233d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

#btnClear {
  border-radius: 5px;
  border: 2px solid #7a726883;
  background-color: #f5f3f0;
  width: 8.5rem;
  height: 3rem;
}

#btnClear:hover {
  background-color: #ee6a4a;
}

.divResults {
  background-color: #f5f3f0;
  border: 3px dashed #ddd7cd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.components {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}




